:host /deep/ .ngx-pagination {
    padding-left: 0px;
  }
  
  :host /deep/.ngx-pagination .current,
  .btn-info {
    background:#e8ebee !important;
    border: transparent;
    color: #6c757d; 
  }
