<app-loader  *ngIf="timer!=0"></app-loader>
<div  *ngIf="timer==0">
  <img src="assets/img/lawyer-background-4.jpg" width="100%" height="100%" style="position:-ms-page;">
<div style="font-weight:350;" class="texth display-2  ">
  مرحبا بكم في العيادة القانونية
</div>
  <p class="texthe  display-4">     في موقعنا نهتم بتقديم المحتوى القانوني الذي يساعدك في الإجابة على تساؤلاتك،وحل مشكلاتك اليومية، وتقديم الثقافة القانونية الأساسية 
  </p>
 <app-help style="  position: absolute;
 top: 58%;
 left: 35%;"></app-help>
  <button  style="  position: absolute;
 top: 58%;
 left: 16%;"routerLink="/Categories" class="btn shadow btnntf textttlog">  <i class="fa fa-list-alt" aria-hidden="true"></i>

   الأقسام </button>
  </div>
