<!-- Footer -->
<footer style="opacity: 85%;" *ngIf="timer==0" class="page-footer font-small stylish-color-dark pt-4">


    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h3 s style="font-family: 'Almarai', sans-serif;text-align: end; " class="text-uppercase mb-4 font-weight-bold">العيادة القانونية</h3>
          <p  style="font-family: 'Almarai', sans-serif; text-align: end;">في موقعنا نهتم بتقديم المحتوى القانوني الذي يساعدك في الإجابة على تساؤلاتك، وحل مشكلاتك اليومية، وتقديم الثقافة القانونية الأساسية .

        </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div style="text-align: end;"  class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 " >
          <h3  style="font-family: 'Almarai', sans-serif;" class="text-uppercase mb-4 font-weight-bold">معلومات عنا</h3>
          <p style="font-family: 'Almarai', sans-serif;">
            غزة - شارع الشهداء - برج الحسيني  <i  class="fas fa-home ml-3"></i></p>
          <p style="font-family: 'Almarai', sans-serif;">
 enquiry@legalconsultation.com              <i class="fas fa-envelope ml-3"></i> </p>
          <p style="font-family: 'Almarai', sans-serif;">
     056-296-2962         <i class="fas fa-phone ml-3"></i></p>
         
        </div>
  
      </div>
  
      <hr>
  
   
  
    </div>

    <div class="footer-copyright text-center py-3">
        <div class="justify-content-center">
  
       
              <ul class="list-unstyled list-inline text-center">
                  <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                      <i class="fab fa-facebook-f"> </i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                      <i class="fab fa-twitter"> </i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-floating btn-gplus mx-1">
                      <i class="fab fa-google-plus-g"> </i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1">
                      <i class="fab fa-linkedin-in"> </i>
                    </a>
                  </li>
              
                </ul>
    

    
        </div>
    </div>
  </footer>

  