<app-loader *ngIf="timer!=0"></app-loader>
<div *ngIf="timer==0">
<div  style="width: 100%; height: 100%;" class="container" style="padding-top:10% ;" >

  <nav aria-label="breadcrumb "  class="shadow-sm">
    <ol class="breadcrumb" >
      <li style="  font-family: 'Almarai', sans-serif;  font-size: 18px;  font-weight: bold ; padding-left:94% ;margin-right: 5px ;" class="breadcrumb-item active" aria-current="page">الأقسام</li>
    </ol>
  </nav>
  <div style="margin-top:5% ;" class="row justify-content-end"  >
  
    <div class="col-md-auto" *ngFor="let item of cat | paginate: config ;  let i=index ">
      <div [ngClass]="{ 'shadow':over[i]== true}" [ngStyle]="{'cursor': 'pointer'}"routerLink="/SUbCategories/{{item.key}}"   (mouseover)="over[i]=true" (mouseleave)="over[i]=false" 	  class=" shadow-sm card  p-3 mb-5 b rounded text-center "  style="  width: 230px; height: 230px;   
      ">
        <img src="{{item.image}}"  style="width: 150px; height: 150px; margin-left: 10%;" >
        <p style="  font-family: 'Almarai', sans-serif; font-size: 16px;  font-weight: bold; margin-top: 10%" >{{item.title}} </p>
      
      </div>  
    
    </div>

     
  </div> </div>

  <pagination-controls style="  font-family: 'Almarai', sans-serif; color: wheat;"  [nextLabel]="'التالي'"[previousLabel]="'السابق'" class="text-center" (pageChange)="pageChanged($event)"></pagination-controls>

</div>
