<div style="height: 620px;  padding-top: 60px;" id="about">
<section style="background-image: linear-gradient(to bottom, #2c3e50, #215b73, #007b8d, #009c9c, #1abc9c); height:590px;-webkit-box-shadow: 1px 9px 5px -3px rgba(201,195,201,1);
-moz-box-shadow: 1px 9px 5px -3px rgba(201,195,201,1);
box-shadow: 1px 9px 5px -3px rgba(201,195,201,1);" class="page-section bg-primary text-white " >
    <div  class="container  ">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">من نحن</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
     
        <!-- About Section Button-->
        <div  style="direction: rtl;" class=" mt-4 aboutcont text-justify">
          <p  class="ml-auto  ">
            شركة دعاية واعلان  فلسطينية تعمل على تقديم خدمات إعلانية متكاملة للشركات باحترافية وأفكار و حلول متقدمة لتحقيق النجاح المستمر فنحن نقوم باستخدام افضل الخامات فى اخراج اعمالك و حرفة تنفيذها حيث تظهر لعملائك بالشكل و المستوى المطلوب الذى يليق بك حيث اننا نقوم بالتحديث المستمر لمواكبة احدث التطورات فى مجال الدعاية والإعلان و الطباعة ونسعى جاهدين بأن نكون من اولى شركات دعاية واعلان فى مصر بتقديم كافة خدماتنا و منها تصميم و طباعة هوية الشركات و تقديم احدث اشكال هدايا دعائية و استاندات اعلانية و تجهيزات المعارض وغير ذلك .بأفضل مستويات الجودة .
                  </p>
        </div>
    </div>

</section>
</div>
<app-contact></app-contact>