<app-loader *ngIf="timer!=0"></app-loader>
<div *ngIf="timer==0">
<div class="container" style="padding-top:10% ;" >

    <nav aria-label="breadcrumb "  class="shadow-sm ">
      <ol class="breadcrumb justify-content-end"  >
        <li   style="  font-family: 'Almarai', sans-serif;  font-size: 18px;  font-weight: bold ; " class="breadcrumb-item active " aria-current="page">{{titlecatc}}</li>
        <li style="  font-family: 'Almarai', sans-serif;  font-size: 18px;  font-weight: bold ; " class="breadcrumb-item active"  class="breadcrumb-item active"  aria-current="page"> <a  routerLink="/SUbCategories/{{idcatc}}">{{this.catt[6]}}</a></li>
        <li   style="  font-family: 'Almarai', sans-serif;  font-size: 18px;  font-weight: bold ; " class="breadcrumb-item active " aria-current="page"> <a  routerLink="/Categories">الأقسام</a></li>

      </ol>
    </nav>
    <div style="margin-top:5% ;" class="row justify-content-end"  >
    
      <div class="col-md-auto" *ngFor="let item of cat | paginate: config ;  let i=index ">
        <div (click)="settittle(item.title,item.desc)" [ngClass]="{ 'shadow':over[i]== true}" [ngStyle]="{'cursor': 'pointer'}" routerLink="/Subject/{{kaay[i]}}"  (mouseover)="over[i]=true" (mouseleave)="over[i]=false" 	  class=" shadow-sm card  p-3 mb-5 b rounded text-center "  style="  width: 230px; height: 70px; ">
          <p style="  font-family: 'Almarai', sans-serif; font-size: 16px;  font-weight: bold; " >{{item.title}} </p>
        
        </div>  
      
      </div>
    
       
    </div> </div>
    <pagination-controls style="  font-family: 'Almarai', sans-serif; "  [nextLabel]="'التالي'"[previousLabel]="'السابق'" class="text-center" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>