<app-loader *ngIf="timer!=0"></app-loader>
<div *ngIf="timer==0">
  <div class="container" style="padding-top:10% ;" >

    <nav aria-label="breadcrumb "  class="shadow-sm ">
      <ol class="breadcrumb justify-content-end"  >
        <li   style="  font-family: 'Almarai', sans-serif;  font-size: 18px;  font-weight: bold ; " class="breadcrumb-item active " aria-current="page">{{titleSUB}}</li>
        <li   style="  font-family: 'Almarai', sans-serif;  font-size: 18px;  font-weight: bold ; " class="breadcrumb-item active " aria-current="page"> <a  routerLink="/Subjects/{{this.keysSUB}}">  {{titlecatc}}</a></li>
        <li style="  font-family: 'Almarai', sans-serif;  font-size: 18px;  font-weight: bold ; " class="breadcrumb-item active"  class="breadcrumb-item active"  aria-current="page"> <a  routerLink="/SUbCategories/{{idcatc}}">{{this.catt[6]}}</a></li>
        <li   style="  font-family: 'Almarai', sans-serif;  font-size: 18px;  font-weight: bold ; " class="breadcrumb-item active " aria-current="page"> <a  routerLink="/Categories">الأقسام</a></li>

      </ol>
    </nav>
    <div style="margin-top:5% ;margin-right:20px ;" class="row justify-content-end"  >
        <h1 style="  font-family: 'Almarai', sans-serif;   font-weight: bolder ; " class="display-1">{{titleSUB}} -</h1>
<p>
    <markdown  style="  font-family: 'Almarai', sans-serif;  text-align: justify; " class="variable-binding justify-content-center" [data]="decc"></markdown>

</p>
 <div>
  <app-help ></app-help>
      </div>
    
    </div>
     
  