
<mat-toolbar  style="height: 8%;  "  class=" color  shadow-lg pos">
  <a   routerLink="/Main"  [ngStyle]="{'cursor': 'pointer'}" [ngClass]="{'textt':catter == true}" class="text ">العيادة القانونيـة
    </a>
    <app-search ></app-search>

   
    <app-signup  [ngClass]="{'aftercc': catter == true}" class="berforec" class="berforec"  *ngIf="isUser!=true else elseBlcock"
    ></app-signup>
      <ng-template  #elseBlcock >
        <button style="font-size:20px; " class="btnn btn textlog" mat-button [matMenuTriggerFor]="menu"><i class="fas fa-user"></i>
          {{ usernamen}} <i class="fas fa-caret-down"></i>
        </button>
        <mat-menu class="customize"  #menu="matMenu">
          <button  style="font-family: 'Almarai', sans-serif;      
          "  mat-menu-item>المفضلة</button>
          <button  (click)=" logOut()" style="font-family: 'Almarai', sans-serif;" mat-menu-item>تسجيل الخروج</button>
        </mat-menu>
      </ng-template>
      
      </mat-toolbar>

