@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');



.text{
position: absolute;  
left: 45%;  
font-family: 'Almarai', sans-serif;
font-size:35px;
top: 25%;
color: wheat;
}
.textt{
  position: absolute;  
  left: 48%;  
  font-family: 'Almarai', sans-serif;
  font-size:35px;
  top: 50%;
  color: wheat;
  }
  span:focus-within{
border-color:red;
background-color: transparent;
text-shadow: transparent;
box-shadow: transparent;
  }

.textinv{
  position: absolute;  
  font-family: 'Almarai', sans-serif;
  font-size:50px;
  top: 25%;
  
  
  }

.buttonset{
  position: absolute;
  left: 30%;
box-shadow:none;
  font-family: 'Almarai', sans-serif;
  top: 20%;
}
.form-control{
  text-align:end;
  color: white;
  border-color: wheat;
}
.form-control::placeholder{
color: rgb(160, 160, 160);
}
  .form-control:focus{
 background-color: white;
    box-shadow:none;
    color:black
  }
.inputserach{

background-color: transparent;
border-radius: 0%;
font-family: 'Almarai', sans-serif;
position: absolute;
top: 21%;
width:28%;


}


.textlog{
position: absolute;
top: 20%;
left: 90%;
font-family: 'Almarai', sans-serif;
text-align: end;

}
.texttlog{
  position: absolute;
  top: 58%;
  left: 35%;
  font-family: 'Almarai', sans-serif;
  width:200px;
  text-align: center;
  }
  .textttlog{
    position: absolute;
    top: 58%;
    left: 15%;
    font-family: 'Almarai', sans-serif;
    width:200px;
    text-align: center;

    }
.logicon{
  position: absolute;
  left: 0%;
  top: 17%;
}

.bg-light{
  color:  #d08210;
  
}
.navbar{
  background-color: transparent;
}
.btnn{
  border-color: wheat;
  color: wheat;
  box-shadow: transparent;
}

.btnn:hover{
  background-color: wheat;
  color: black;
  box-shadow: transparent;

}


.btnnt{
  border-color: wheat;
  background-color: #1c3428;
  color: wheat  ;}

  .btnntf{
    border-color: wheat;
    background-color: #341c1c;
    color: wheat  ;}
  
.bg-dark{
opacity: 95%;
}
.texth{
  position: absolute;
  font-family: 'Almarai', sans-serif;
  top: 20%;
 left: 1%;
 color:wheat;
 font-size: 75px;
 text-shadow:  1px 1px #f2d7a8;
}
.texthe{
  position: absolute;
  font-family: 'Almarai', sans-serif;
  top: 36%;
 right: 36%;
 color:wheat;
 text-align: center;
 font-size: 35px;
 line-height: 45px;
}
.phoeicon{
  position: absolute;
  left: 9%;
  top: 12%;
  font-size: 32px;
  }
  .caticon{
    position: absolute;
    left: 18%;
    top: 12%;
    font-size: 32px;
    }
    ::ng-deep .customize {
      background-color: white;
    }

    a:hover{
      text-decoration: none;
    }
    .color{
      background-color: #343a40;
      opacity: 85%;
    }
    .pos{
position: absolute;
    }
    .berforec{
      position: absolute;
      top: 20%;
      left: 90%;
    }
    .aftercc{
        position: absolute;
        top: 33%;
    
    }