
  

<button  style="width: 100px;"    type="button" class="btnn btn textlog" data-toggle="modal" data-target="#modal11">       <span  class="material-icons logicon">
  login
  </span >انضم إلينا </button>


<div    class="modal fade " id="modal11">
<div  class="modal-dialog ">
<div style="  width: 700px; 
border-color: wheat ; opacity: 95%;
" class="modal-content bg-dark">

<button style="color: red; position: absolute; left: 10px; " type="button" class="close" data-dismiss="modal" aria-label="Close">
 <span aria-hidden="true">&times;</span>
</button>
   <div style="color: wheat;" class="card-header text12 ">انضم إلينا

   </div>
 <div *ngIf="lognin==false"  style="text-align: end;" class="modal-body">
   <form class="setingform" ngNativeValidate  #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" >
     <div style="color: wheat;  margin-bottom: 10px;">  <label class="almararitext" >الاسم بالكامل</label>
     <input type="string" name="name" [(ngModel)]="name"  class="form-control setignlog" required></div>

     <label style="color: wheat;" class="almararitext" >البريد الالكتروني</label>
     <input  [(ngModel)]="email" type="email" name="email"  class="form-control setignlog"
     required email>
     <div style="margin-top: 10px; color: wheat;">
     <label class="almararitext" >كلمة المرور </label>
     <input type="password" [(ngModel)]="password" name="password"  class="form-control setignlog"
      required minlength="6">
     </div>

     <div class="text-center">
       <button   style=" margin-top: 25px;  width:100%; font-family: 'Almarai', sans-serif; " type="submit"
         class="btn btnn btn-lg "  >تسجيل</button>
       <div class="alret alret-danger"></div>

     </div>
     
   </form>


  </div>
  <app-login *ngIf="lognin==true"></app-login>
  <div  *ngIf="lognin==false" style="text-align: center; color: wheat;" class="almararitext">لديك حساب بالفعل ؟ انقر <a  (click)="lognin=true" class="text-info" [ngStyle]="{'cursor': 'pointer' }">  تسجيل دخول </a></div>   
  <div  *ngIf="lognin==true" style="text-align: center; color: wheat;"  class="almararitext">ليس لديك حساب  ؟ انقر<a (click)="lognin=false"  class="text-info" [ngStyle]="{'cursor': 'pointer' }"> تسجيل </a></div>
</div>
</div>
</div>

