:host /deep/ .ngx-pagination {
  padding-left: 0px;
}

:host /deep/.ngx-pagination .current,
.btn-info {
  background:#e8ebee !important;
  border: transparent;
  color: #6c757d; 
}
a{
text-decoration: none;

}
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');



.text{
position: absolute;  
left: 51%;  
font-family: 'Almarai', sans-serif;
font-size:35px;
top: 25%;
color: wheat;
}

.textinv{
  position: absolute;  
  font-family: 'Almarai', sans-serif;
  font-size:50px;
  top: 25%;
  
  
  }

.buttonset{
  position: absolute;
  left: 30%;
box-shadow:none;
  font-family: 'Almarai', sans-serif;
  top: 20%;
}
.form-control{
  text-align:end;
  color: white;
  border-color: wheat;
}
.form-control::placeholder{
color: rgb(160, 160, 160);
}
  .form-control:focus{
 background-color: white;
    box-shadow:none;
    color:black
  }

.texttlog{
  font-family: 'Almarai', sans-serif;
  width:200px;
  }
 

.btnnt{
  border-color: wheat;
  background-color: #1c3428;
  color: wheat  ;
  text-align: center;
}

 
.phoeicon{
  position: relative;
  left: 10%;
  top: 60%;
  font-size: 32px;
}