
     <div   style="text-align: end;" class="modal-body">
      <div *ngIf="errmessage" class="alert alert-danger fontt">{{errmessage}}</div>

      <form class="setingform" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" >  
        <label style="color: wheat;" class="almararitext" >البريد الالكتروني</label>
        <input  [(ngModel)]="email"  type="email" name="email"  class="form-control setignlog"
        required email>
        <div style="margin-top: 10px; color: wheat;">
        <label class="almararitext" >كلمة المرور </label>
        <input type="password" name="password" [(ngModel)]="password" class="form-control setignlog"
         required minlength="6">
        </div>
  
        <div class="text-center">
          <button  style=" margin-top: 25px;  width:100%; font-family: 'Almarai', sans-serif;" type="submit"
            class="btn btnn btn-lg "  >دخول</button>
          <div class="alret alret-danger"></div>
  
        </div>
      </form>
    
    </div>
  