.box{
    position: absolute;
    top: 20%;
    left: 30%;
   width: 50%; 
   height: 55%;
   border-width: 1px;
   border-color: wheat;
  }
  .stack-top{
    z-index: 9;
    margin: 20px; 
  
  }
  .form-control{
    background-color: #3d3e41  ;
    color: wheat;
  }
  .form-control:focus{
    background-color: white;
    box-shadow:none;
    color: black;
  }
  .text12{
    font-family: 'Almarai', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 15px;
  }
  .almararitext{
      font-family: 'Almarai', sans-serif;
  font-size: 20px;
  margin-top:10px;
  
  }
  
  .setingform{
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .setignlog{
    border-color:wheat;
  }
  a{
    text-decoration: none;
  
  }
a:hover{
  color:red;
}
.fontt{
  font-family: 'Almarai', sans-serif;

}
.heightalret{
  position: absolute;
    top: 20%;
    left: 30%;
   width: 50%; 
   height: 63%;
}
.btnn{
  border-color: wheat;
  color: wheat;
}

.btnn:hover{
  background-color: wheat;
  color: black;
}