.box{
    position: absolute;
    top: 20%;
    left: 30%;
   width: 50%; 
   height: 75%;
   border-width: 1px;
   border-color: wheat;
  }
    .boxx{
    position: absolute;
    top: 12%;
    left: 30%;
   width: 50%; 
   height:84%;
   border-width: 1px;
   border-color: wheat;
  }
  .stack-top{
    z-index: 9;
    margin: 20px; 
  
  }
  .form-control{
    background-color: #3d3e41  ;
    color: wheat;
  }
  .form-control:focus{
 background-color: white;
    box-shadow:none;
    color: black;
  
  }
  .text12{
    font-family: 'Almarai', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 15px;
  }
  .almararitext{
      font-family: 'Almarai', sans-serif;
  font-size: 20px;
  margin-top:10px;
  
  }
  
  .setingform{
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .setignlog{
    border-color:wheat;
  }
  a{
    text-decoration: none;
  
  }
a:hover{
  color:red;
}
.custom-select{
    position: absolute;
    text-align: center;
    font-family: 'Almarai', sans-serif;
    right:0%;
    left: 73% ;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: transparent;
    top: 48%;
border-bottom: transparent;
color: wheat;
font-size: 20px;
margin-top:10px;
width:160px;
}  
.custom-select:focus{
  position: absolute;
    box-shadow:none;
    background-color: #3d3e41;
    border:transparent;
right: 90%;;
}

.btnn{
  border-color: wheat;
  color: wheat;
}

.btnn:hover{
  background-color: wheat;
  color: black;
}
.disable{
  pointer-events: none;
    }
       .texttlog{
               font-family: 'Almarai', sans-serif;
        width:200px;
        text-align: center;
        font-size: 23px;
        }
        .phoeicon{
          position: absolute;
          left: 9%;
          top: 12%;
          font-size: 32px;
          }
          .btnnt{
            border-color: wheat;
            background-color: #1c3428;
            color: wheat  ;}
            .modal-backdrop {
              z-index: 100000 !important;
            }
          
            .modal {
              z-index: 100001 !important;
            }